In [37]:
import numpy as np
import pandas as pd
import zipfile

In [38]:
with zipfile.ZipFile('/home/rodrigo/Bases_DS-20210909T015402Z-001.zip') as z:
    print(*z.namelist(), sep='\n')

Bases_DS/ca-covid.csv
Bases_DS/avocado.xlsx
Bases_DS/Análise de Dados Vale_Online_10_2020.xlsx
Bases_DS/Metodos_quantitativos.xls
Bases_DS/Cópia de Análise de Dados Vale_Online_10_2020.xlsx

In [39]:
with zipfile.ZipFile('/home/rodrigo/Bases_DS-20210909T015402Z-001.zip') as z:
    with z.open('Bases_DS/avocado.xlsx') as f:
        df = pd.read_excel(f)

In [40]:
df.head()

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408-07-01 00:00:00,97.49,0.0,conventional,2015,Albany
2,2,2015-12-13,0.93,118220.22,794.7,109149.67,130.5,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,3,2015-12-06,2021-08-01 00:00:00,78992.15,1132.0,71976.41,72.58,5811.16,5677-04-01 00:00:00,133.76,0.0,conventional,2015,Albany
4,4,2015-11-29,1.28,51039.6,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18249 entries, 0 to 18248
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    18249 non-null  int64
 1   Date          18249 non-null  datetime64[ns]
 2   AveragePrice  18249 non-null  object
 3   Total Volume  18249 non-null  object
 4   4046          18249 non-null  object
 5   4225          18249 non-null  object
 6   4770          18249 non-null  object
 7   Total Bags    18249 non-null  object
 8   Small Bags    18249 non-null  object
 9   Large Bags    18249 non-null  object
 10  XLarge Bags   18249 non-null  object
 11  type          18249 non-null  object
 12  year          18249 non-null  int64
 13  region        18249 non-null  object
dtypes: datetime64[ns](1), int64(2), object(11)
memory usage: 1.9+ MB

In [42]:
df.columns

Index([  'Unnamed: 0',         'Date', 'AveragePrice', 'Total Volume',
                 4046,           4225,           4770,   'Total Bags',
         'Small Bags',   'Large Bags',  'XLarge Bags',         'type',
               'year',       'region'],
      dtype='object')

In [43]:
df['type'].value_counts()

conventional    9126
organic         9123
Name: type, dtype: int64

In [44]:
df['region'].unique()

array(['Albany', 'Atlanta', 'BaltimoreWashington', 'Boise', 'Boston',
       'BuffaloRochester', 'California', 'Charlotte', 'Chicago',
       'CincinnatiDayton', 'Columbus', 'DallasFtWorth', 'Denver',
       'Detroit', 'GrandRapids', 'GreatLakes', 'HarrisburgScranton',
       'HartfordSpringfield', 'Houston', 'Indianapolis', 'Jacksonville',
       'LasVegas', 'LosAngeles', 'Louisville', 'MiamiFtLauderdale',
       'Midsouth', 'Nashville', 'NewOrleansMobile', 'NewYork',
       'Northeast', 'NorthernNewEngland', 'Orlando', 'Philadelphia',
       'PhoenixTucson', 'Pittsburgh', 'Plains', 'Portland',
       'RaleighGreensboro', 'RichmondNorfolk', 'Roanoke', 'Sacramento',
       'SanDiego', 'SanFrancisco', 'Seattle', 'SouthCarolina',
       'SouthCentral', 'Southeast', 'Spokane', 'StLouis', 'Syracuse',
       'Tampa', 'TotalUS', 'West', 'WestTexNewMexico'], dtype=object)

In [45]:
df_ca = df[df['region'] == 'California']

In [52]:
df_ca.head()

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
312,0,2015-12-27,0.9,5040365.47,1833946.59,1760956.02,232755.85,1212707.01,1090140.07,110737.35,11829.59,conventional,2015,California
313,1,2015-12-20,0.94,4695737.21,1676601.43,1543280.76,266689.82,1209165.2,1061703.58,136747.1,10714.52,conventional,2015,California
314,2,2015-12-13,0.87,5259354.3,1806690.08,1627240.76,232985.13,1592438.33,1404012.0,180150.37,8275.96,conventional,2015,California
315,3,2015-12-06,0.78,5775536.27,1943065.5,2100246.17,221957.26,1510267.34,1376640.91,126664.37,6962-06-01 00:00:00,conventional,2015,California
316,4,2015-11-29,0.91,4575710.62,1461699.38,1810202.7,222311.07,1081497.47,991568.84,82338.39,7590.24,conventional,2015,California

In [74]:
df_ca.rename(columns= {'Total Volume': 'Total_Volume'}, inplace=True)

In [75]:
df_ca.tail()

,Unnamed: 0,Date,AveragePrice,Total_Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
17680,7,2018-02-04,1.56,188212.98,38078.53,60551.97,0.0,89582.48,89527.66,54.82,0.0,organic,2018,California
17681,8,2018-01-28,1.87,170998.81,30070.62,58357.89,0.0,82570.3,82563.11,7.19,0.0,organic,2018,California
17682,9,2018-01-21,1.69,181974.98,34411.37,64513.67,0.0,83049.94,83022.84,2021-01-27 00:00:00,0.0,organic,2018,California
17683,10,2018-01-14,1.61,216681.04,52253.4,95353.95,0.0,69073.69,69054.51,19.18,0.0,organic,2018,California
17684,11,2018-01-07,1.95,156341.57,42992.91,56007.79,0.0,57340.87,57271.15,69.72,0.0,organic,2018,California

In [96]:
tv = np.mean(df_ca['Total_Volume'])

In [99]:
print(f'{tv:.2f}')

3044324.42