<a href="https://colab.research.google.com/github/Rodrigo-Antonio-Silva/DataScienceProject/blob/main/Covid_California.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Bases_DS/ca-covid.csv')

In [ ]:
df.drop('state', axis=1, inplace=True)

In [ ]:
df['month'] = pd.to_datetime(df['date'], format="%d.%m.%y").dt.month_name()

In [ ]:
df.set_index('date', inplace=True )

In [ ]:
df['ratio'] = (df['deaths'] / df['cases']) * 100

In [ ]:
df[df['ratio'] == df['ratio'].max()]

          cases  deaths  month      ratio
date
10.03.20      7       1  March  14.285714