In [103]:
import numpy as np
import pandas as pd

In [104]:
df = pd.read_csv('/home/rodrigo/Documentos/ca-covid.csv')

In [105]:
df.head()

       date       state  cases  deaths
0  25.01.20  California      1       0
1  26.01.20  California      1       0
2  27.01.20  California      0       0
3  28.01.20  California      0       0
4  29.01.20  California      0       0

In [106]:
df.tail()

         date       state  cases  deaths
337  27.12.20  California  37555      62
338  28.12.20  California  41720     246
339  29.12.20  California  34166     425
340  30.12.20  California  32386     437
341  31.12.20  California  32264     574

In [107]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 342 entries, 0 to 341
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    342 non-null    object
 1   state   342 non-null    object
 2   cases   342 non-null    int64
 3   deaths  342 non-null    int64
dtypes: int64(2), object(2)
memory usage: 10.8+ KB

In [108]:
df.index

RangeIndex(start=0, stop=342, step=1)

In [109]:
df.head()

       date       state  cases  deaths
0  25.01.20  California      1       0
1  26.01.20  California      1       0
2  27.01.20  California      0       0
3  28.01.20  California      0       0
4  29.01.20  California      0       0

In [110]:
df['month'] = pd.to_datetime(df['date'], format="%d.%m.%y").dt.month_name()

In [111]:
df.head()

       date       state  cases  deaths    month
0  25.01.20  California      1       0  January
1  26.01.20  California      1       0  January
2  27.01.20  California      0       0  January
3  28.01.20  California      0       0  January
4  29.01.20  California      0       0  January

In [112]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 342 entries, 0 to 341
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    342 non-null    object
 1   state   342 non-null    object
 2   cases   342 non-null    int64
 3   deaths  342 non-null    int64
 4   month   342 non-null    object
dtypes: int64(2), object(3)
memory usage: 13.5+ KB

In [113]:
df.month = df.month.astype('category')

In [114]:
df.drop(['state'], axis=1, inplace=True)

In [115]:
df.date = pd.to_datetime(df['date'], format="%d.%m.%y")

In [117]:
df.set_index('date')

            cases  deaths     month
date
2020-01-25      1       0   January
2020-01-26      1       0   January
2020-01-27      0       0   January
2020-01-28      0       0   January
2020-01-29      0       0   January
...           ...     ...       ...
2020-12-27  37555      62  December
2020-12-28  41720     246  December
2020-12-29  34166     425  December
2020-12-30  32386     437  December
2020-12-31  32264     574  December

[342 rows x 3 columns]

In [118]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 342 entries, 0 to 341
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    342 non-null    datetime64[ns]
 1   cases   342 non-null    int64
 2   deaths  342 non-null    int64
 3   month   342 non-null    category
dtypes: category(1), datetime64[ns](1), int64(2)
memory usage: 8.9 KB

In [122]:
df['month'].value_counts()

August       31
December     31
July         31
March        31
May          31
October      31
April        30
June         30
November     30
September    30
February     29
January       7
Name: month, dtype: int64

In [132]:
df.groupby(['month']).agg({'cases': np.mean, 'deaths': np.sum})

                  cases  deaths
month
April       1396.233333    1873
August      6782.838710    3798
December   34534.741935    6756
February       0.862069       0
January        0.428571       0
July        8713.548387    3139
June        3967.966667    1841
March        275.967742     184
May         2020.774194    2185
November   10064.800000    1548
October     3681.387097    1763
September   3619.466667    2878